.vscode/launch.json
.vscode/tasks.json
API/bin/Debug/net7.0/API.deps.json
API/bin/Debug/net7.0/API.dll
API/bin/Debug/net7.0/API.exe
API/bin/Debug/net7.0/API.pdb
API/bin/Debug/net7.0/API.staticwebassets.runtime.json
API/bin/Debug/net7.0/Core.pdb
API/bin/Debug/net7.0/Core.dll
API/bin/Debug/net7.0/Infrastructure.pdb
API/bin/Debug/net7.0/Infrastructure.dll
API/obj/Debug/net7.0/ref/API.dll
API/obj/Debug/net7.0/refint/API.dll
API/bin/Debug/net7.0/Infrastructure.pdb
API/bin/Debug/net7.0/Infrastructure.dll
API/bin/Debug/net7.0/API.exe
API/bin/Debug/net7.0/API.dll
API/bin/Debug/net7.0/API.deps.json
API/bin/Debug/net7.0/API.deps.json
